.precisa {
    margin: 50px;
    text-transform: uppercase;
}

.precisa-image {
    margin-bottom: 50px;
    width: 400px;
    margin-left: 300px;
}

.titulo-sefin {
    margin-top: 100px;
}

.sefin {
    text-align: center;
}

.asterisco {
    color: red;
}

p{
    font-size: 14px;
}

.item {
    width: 150px;
    padding-top: 20px;
    background-color: #ECECEC;  
    margin-left: 20px; 
    height: 140px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item:hover {
    border: 1px solid;
    border-color: darkblue;
    color: #000;
}

.item:hover p {
    color: #000;
}