.observacao {
    margin-right: 638px;
    margin-top: 15px;
    background-color: powderblue;
    width: 597px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px){
    .observacao {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .observacao {
        margin-right: 0;
        margin-left: -210px;
    }

}

@media (max-width: 768px) {
    .precisa-grafismo {
        flex-direction: column-reverse;
    }
    .o-que-voce-precisa {
        flex: 0 0 auto;
        width: 100%;
    }
    .grafismo-elevado {
        flex: 0 0 auto;
        width: 100%;
    }
}


.titulo-o-que-voce-precisa {
    margin-left: 70px;
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 110px;
}

@media (max-width: 768px) {
    .titulo-o-que-voce-precisa {
        margin-left: 28px;
        text-transform: uppercase;
        font-size: 38px;
        margin-top: 0px;
    }
}

.video-iptu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rb-image {
    width: 1700px;
    opacity: 0.5;
}

.titulo-sefin {
    margin-top: 140px;
}

.sefin {
    text-align: center;
}

.slogan {
    text-align: center;
}

.titulo-sefin-requerimento {
    margin-top: 50px;
    text-align: center;
}
.asterisco {
    color: red;
}

p{
    font-size: 13px;
}

.item {
    width: 150px;
    padding-top: 20px;
    background-color: #ECECEC;
    margin-left: 20px;
    height: 120px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item:hover {
    border: 1px solid;
    border-color: darkblue;
    color: #000;
}

.item:hover p {
    color: #000;
}

.item-requerimento {
    width: 150px;
    padding-top: 20px;
    background-color: #ECECEC;
    margin-left: 20px;
    height: 160px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-requerimento:hover {
    border: 1px solid;
    border-color: darkblue;
    color: #000;
}

.item-requerimento:hover p {
    color: #000;
}

.btn-accessibility {
    background: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}
.high-contrast {
    background-color: black;
    color: #fff;
}

.high-contrast img {
    filter: invert(1);
}

.high-contrast .faq a p,
.high-contrast .faq p,
.high-contrast .faq h3,
.high-contrast .faq span,
.high-contrast .faq,
.high-contrast .faq-content {
    color: #0ff;
    background-color: #000;
}


body {
    font-family: sans-serif;
    margin: 0;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-overlay.active {
    display: flex;
}

.modal-content {
    background-color: transparent;
    padding: 0;
    position: relative; /* Importante para posicionar o botão dentro */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px; /* Largura máxima da imagem */
    max-height: 500px; /* Altura máxima da imagem */
}

.modal-content img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 5px; /* Ajusta a distância do topo da imagem */
    right: 5px; /* Ajusta a distância da direita da imagem */
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o botão */
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
    padding: 5px;
    border-radius: 5px; /* Arredondamento do botão */
    line-height: 1;
}

.close-button:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #ccc;
}
.high-contrast {
    background-color: #000;
    color: #fff;
}

.banner-area {
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    /* Ajuste o padding conforme necessário */
    background-color: #f8f9fa;
    /* Cor de fundo do banner */
}

.banner-area .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* Ajuste a opacidade do overlay */
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner-content.text-center {
    text-align: center;
}

.banner-content img.img-responsive {
    max-width: 100%;
    height: auto;
}

.btn-info {
    color: #fff;
    background-color: #2254c6;
    border-color: #2254c6;
    padding: 10px 20px;
    border-radius: 25px;
    /* Para efeito "circled" */
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #ffff;
    border-color: #2254c6;
    color: #2254c6;
}

#refis { 
  padding: 40px !important;
  margin-bottom: -40px !important;
  font-size: medium !important;
}