.observacao {
    margin-right: 638px;
    margin-top: 15px;
    background-color: powderblue;
    width: 597px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px){
    .observacao {    
        margin-right: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .observacao {
        margin-right: 0;
        margin-left: -210px;
    }
    
}

@media (max-width: 768px) {
    .precisa-grafismo {
        flex-direction: column-reverse;
    }
    .o-que-voce-precisa {
        flex: 0 0 auto;
        width: 100%;
    }
    .grafismo-elevado {
        flex: 0 0 auto;
        width: 100%;
    }
}


.titulo-o-que-voce-precisa {
    margin-left: 70px;
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 110px;
}

@media (max-width: 768px) {
    .titulo-o-que-voce-precisa {
        margin-left: 28px;
        text-transform: uppercase;
        font-size: 38px;
        margin-top: 0px;
    }
}

.video-iptu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rb-image {
    width: 1700px;
    opacity: 0.5;
}

.titulo-sefin {
    margin-top: 110px;
}

.sefin {
    text-align: center;
}

.slogan {
    text-align: center;
}

.asterisco {
    color: red;
}

p{
    font-size: 13px;
}

.item {
    width: 150px;
    padding-top: 20px;
    background-color: #ECECEC;  
    margin-left: 20px; 
    height: 120px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item:hover {
    border: 1px solid;
    border-color: darkblue;
    color: #000;
}

.item:hover p {
    color: #000;
}

.item-requerimento {
    width: 150px;
    padding-top: 20px;
    background-color: #ECECEC;  
    margin-left: 20px; 
    height: 160px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-requerimento:hover {
    border: 1px solid;
    border-color: darkblue;
    color: #000;
}

.item-requerimento:hover p {
    color: #000;
}

.btn-accessibility {
    background: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}
.high-contrast {
    background-color: black;
    color: #fff;
}

.high-contrast img {
    filter: invert(1);
}

.high-contrast .faq a p,
.high-contrast .faq p,
.high-contrast .faq h3,
.high-contrast .faq span,
.high-contrast .faq,
.high-contrast .faq-content {
    color: #0ff;
    background-color: #000;
}